.root {
    -fx-background-color: #614126;
    -fx-border-color: #614126;
    -fx-border-width: 25;
}

.boardSpace {
    -fx-pref-width: 75;
    -fx-pref-height: 75;

    -fx-border-width: 2;

    -fx-background-radius: 0;
    -fx-background-position: center;
}

.highlight {
    -fx-border-color: #FFFF00;
}

.selected {
    -fx-border-color: #006600;
}

.lightBrown {
    -fx-background-color: #DB9356;
}

.grey {
    -fx-background-color: #D3D3D3;
}